<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.domain.UserRepository">
	<select id="getUserByUsername" parameterType="String" resultType="com.example.demo.domain.User">
		SELECT
			*
		FROM
			public.user
		WHERE
			userid = #{userid};
	</select>
	
	<select id="checkUseridByUserid" parameterType="String" resultType="Integer">
		SELECT
			COUNT(userid)
		FROM
			public.user
		WHERE
			userid = #{userid};
	</select>
	
	<insert id="insertUser"  parameterType="com.example.demo.domain.User">
		INSERT INTO
			public.user
		VALUES(
			default,
			#{userid},
			#{password},
			#{role}
		);
	</insert>
	
</mapper>